<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - CENGden</title>
</head>
<body>
    <h2>Register to CENGden</h2>
    <form action="/register" method="POST">
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" pattern=".+@ceng.metu.edu.tr" title="Please use your CENG email" required><br>
        
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" required><br>
        
        <label for="name">Username:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="phone">Phone Number:</label><br>
        <input type="tel" id="phone" name="phone"><br>
        
        <button type="submit">Register</button>
    </form>
</body>
</html>